name: Run Tests
on: push
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code from repository.
        uses: actions/checkout@v6
      - name: Install Node 22.20.0
        uses: actions/setup-node@v6
        with: 
          node-version: '22.20.0'
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test